.wrapper {
    background-color: rgb(227, 0, 15); /* rgb */
    background-color: #e3000f; /* hex */

    background-color: rgb(8, 238, 169); /* keywords immer das letzte zählt*/
}

.default {
    background-color: #e300c5;
    border: none;
    padding: 10px;
}

.outline {
    border: 2px solid rgb(248, 60, 2);
    background-color: transparent;
}
#cta {
    display: block;
    width: 150px;
    height: 150px;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 50%;
    box-shadow: 0px 10px 30px 0 rgb(19, 16, 5);

    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
