.article1{background-color: rgb(89, 228, 181);
    padding: 10px;
    border: 3px solid rgb(8, 65, 27);

}

.article2{background-color: rgb(175, 124, 223);
    padding: 10px;
    border: 3px solid rebeccapurple;}

.article3{background-color: rgb(230, 108, 108);
    padding: 10px;
    border: 3px solid rgb(204, 41, 68);}

    @media (min-width: 300px) {
        .wrapper {
            background-color: orange;
        }
    }
    
