@font-face {
    font-family: "lato";
    src: url(fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "lato";
    src: url(fonts/Lato-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "lato";
    src: url(fonts/Lato-Black.ttf);
    font-weight: 900;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: lato;
}

html* {
    box-sizing: border-box;
    font-family: lato;
}

h1 {
    font-weight: 900;
    color: white;
    text-shadow: 2px 2px #080404;
}

:root {
    /* Colors: */
    --grey: #969696;
    --light-grey: #dddddd;
    --primary: #e74149;
    --h-space: 30px;
}

/*nur .container Klassen innerhalb des #main-header*/

#main-header {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-image: url(img/blog-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*margin-top: 80px;*/

    /*50vh sind 50% der verfügbaren Viewport Höhe*/
    min-height: 75vh;
}

/* #main-header .container:first-child{
    margin-top: -60;
    position: relative;} */

.h-spacing {
    padding-left: var(--h-space);
    padding-right: var(--h-space);
}

#main-header .container {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: center;
    flex: 0;
}

#main-header .container:last-child {
    flex-flow: column;
    justify-content: space-around;
    flex: 1;
}

button.cta {
    background-color: var(--primary);
    color: white;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    font-weight: normal;
}

.subheader {
    font-style: bold;
    text-align: left;
    font-size: 24px;
}

h3 {
    color: var(--primary);
    font-size: 18px;
    text-align: left;
}

main {
    padding-left: var(--h-space);
    padding-right: var(--h-space);
}

.teaser-item img {
    width: 100%;
}

.inner-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#main-header .inner-wrapper::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: white;
    z-index: 0;
    display: block;
}
.link1 {
    color: var(--primary);
}

#main-footer {
    background-color: var(--light-grey);
    margin-top: 50px;
    padding-bottom: 50px;
}
#main-footer .inner-wrapper{
    padding-top: var(--h-space);
}
#footer-logo {
    display: none;
}

#main-footer nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-left: 0;
    padding-left: 30px;
}
#main-footer nav ul li {
    flex-basis: 50%;
    margin-bottom: 1em;
   
    
}

#main-footer nav ul li::marker{
    content: "\2BC8";
    color: var(--primary);
    font-size: 0.65em;
}


.teaser-item > a::after{
    content: "\2BC8";
    color: var(--primary);
    font-size: 0.65em;
}

.teaser-item a:hover::before{
    content: "";
    display: block;
    position: relative;
    bottom: -1.5em;
    width: calc(100% - 1.25em);
    height: 1px;
    background: var(--primary);
}

.teaser-item a{
    transition: all 0.5s ease;
}

#copyright {
    font-size: 0.8em;
    color: var(--grey);
    text-align: center;
    margin-top: 30px;
    padding-left: var(--h-space);
    padding-right: var(--h-space);

}

a {
    color: var(--primary);
}

#main-footer a {
    color: inherit;
}

@media (min-width: 768px) {
    section .container {
        display: flex;
        gap: 10px;
    }

    #main-footer .inner-wrapper {
      
        display: flex;
        flex-wrap: wrap;
    }

    #footer-logo{
        display: block;
        filter: grayscale(1);
    }
}

@media (min-width: 1200px) {
    /*CSS Code für Viewports größer/gleich 1200px*/
}
