:root {
    --green: #053336;
    --gold: #a9a084;
    --grey: #e8e8e8;
}

@font-face {
    font-family: Cherry-Reg;
    src: url(fonts/CherrySwash-Regular.ttf);
}

@font-face {
    font-family: Cherry-Bold;
    src: url(fonts/CherrySwash-Bold.ttf);
}

@font-face {
    font-family: Georgia, "Times New Roman", Times, serif;
    src: url();
}

html,
body {
    margin: 0;
    padding: 0;
}

html * {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.logoburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-top: 27px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: var(--green);
    height: 100px;
}

.logonormal {
    width: 150px;
    height: auto;
}

#hero {
    height: 560px;
    background-image: url("img/pexels-josh-hild-2422257@2x.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid var(--gold);
}

#hero h1 {
    font-size: 58px;
    font-family: Cherry-Reg;
    color: var(--green);
    line-height: 35px;
    margin: 0;
    padding-top: 60px;
    text-align: center;
}

#hero p {
    font-size: 11px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: var(--green);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5.26px;
    margin-bottom: 44px;
    margin-top: 44px;
}

#hero button {
    width: 144px;
    height: 42;
    background-color: var(--green);
    color: white;
    border-radius: 23px;
    font-family: Cherry-Reg;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: center;
    text-align: center;
    margin-left: 116px;
}

h2 {
    font-family: Cherry-Reg;
    font-size: 20px;
    color: var(--gold);
    text-align: center;
}

.teaserimg {
    width: 315px;
    height: 231px;
    object-fit: cover;
    object-position: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 16px;
    margin-bottom: 27px;
}

.teasertext {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: var(--gold);
    line-height: 22px;
    padding-left: 30px;
    padding-right: 30px;
}

a {
    color: var(--green);
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}
#teaserinfos {
    align-items: center;
    text-align: center;
    margin-bottom: 69px;
}

h3 {
    font-family: Cherry-Bold;
    font-size: 20px;
    color: var(--green);
    text-align: center;
}

#gridcontainer {
    background-color: var(--grey);
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 14px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 27px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}
.div2 {
    grid-area: 2 / 1 / 3 / 2;
}
.div3 {
    grid-area: 1 / 2 / 3 / 3;
}

.gridtext {
    color: var(--green);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 24px;
    line-height: 22px;
}

#booking {
    background-color: var(--gold);
    color: white;
}

h4 {
    font-family: Cherry-Bold;
    font-size: 20px;
    text-align: center;
    padding-top: 41px;
}

#booking > p {
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 22px;
    text-align: center;
}

#booking > button {
    background-color: var(--gold);
    color: white;
    border: 1px solid white;
    border-radius: 23px;
    width: 144px;
    height: 42px;
    margin-bottom: 42px;
    margin-left: 116px;
}

.mainfooter {
    background-color: var(--green);
}

.logofooter {

    align-items: start;
}

.address {
    color: var(--gold);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 22px;
    padding-bottom: 30px;
}

.number {
    color: var(--gold);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 22px;
    padding-bottom: 30px;
}

.cookies {
    color: var(--gold);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 35px;
    padding-bottom: 30px;
}

.copy {
    font-family: Cherry-Reg;
    font-size: 10px;
    color: var(--green);
    background-color: var(--gold);
    padding-top: 31px;
    padding-bottom: 31px;
    text-align: center;
}

@media (min-width: 768px) {
    #hero h1 {
        padding-right: 191px;
        text-align: right;
    }
    #hero p {
        padding-right: 191px;
        text-align: right;
    }
    #hero button {
        margin-left: 671px;
    }
    .teaser {
        display: flex;
        justify-content: space-between;
        flex-flow: row;
        gap: 32px;
    }
    .teasertext {
        text-align: left;
    }

    .teaserimg {
        width: 445px;
        height: 231px;
    }
    #booking button{
        margin-left: 440px;
    }
    .footerflex{
        display: flex;
        justify-content: space-between;
        flex-flow: row;

    }
    .logofooter {
        width: 300px;
        height: 105px;
        
    }
    .cookies{text-align: right;
    gap: 210px;}

    .div1 {
        grid-area: 2 / 2 / 3 / 3;
      
    }
    .div2 {
        grid-area: 1 / 2 / 2 / 3;
        
    }
    .div3 {
        grid-area: 1 / 1 / 3 / 2;
      ;
    }

    .div1 img{
        width: 100%;
        height: 222px;
        
    }

    .div2 img{
        width: 100%;
        height: 222px;
        
    }

    .div3 img{
        width: 100%;
        height: 463px;
    }

    .address{
        text-align: left;
        align-items: center;
     
        
        
    }

    .number{
        text-align: left;
       
        
    }

}
