body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    padding: 8px;
    background: rgb(249, 119, 5);
    border-radius: 8px;
    margin: 0;
    font-size: 64px;
    font-family: "Roboto Slab", serif;
}

p {
    line-height: 1.5;
}

main {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/* Inputs */

input,
textarea {
    height: 32px;
    padding: 0 16px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    border: none;
    box-shadow: inset 8px 3px 18px -4px rgba(0, 0, 0, 0.4);
}

input:focus,
textarea:focus {
    outline: none;
}

/* Banner */

#banner {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
}

#banner h3 {
    background: rgb(249, 119, 5);
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24px;
}

/* Hier werden Jobs selektiert */

.input {
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    border: 2px solid grey;
}


/* Navigation */

nav {
    height: 72px;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
    background: rgb(249, 119, 5);

}

nav a {
    padding: 0 32px;
    color: rgb(3, 0, 0);
    transition: 0.4s;
    text-decoration: none;
    background: rgb(249, 119, 5);

}

nav a:hover {
    text-decoration: none;
    color: rgb(249, 119, 5);
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

.slogan {
    font-size: 15px;
    margin: 10px;
    color: rgb(249, 119, 5);
    background: rgb(249, 119, 5);

}

#logo-img {
    display: flex;
    height: 100%;
    background: #f4d0a8;
    padding: 0 32px;
    align-items: center;
    color: white;
    transition: 0.4s;
    background: rgb(249, 119, 5);
}

#logo-img img {
    height: 50px;
    background: rgb(249, 119, 5);

}

#logo-img:hover {
    background: #f4d0a8;
}

#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: rgb(249, 119, 5);
    display: none;
    align-items: center;
}

/* Slideout Menu */

#slideout-menu {
    display: none;
    background: rgb(237, 230, 230);
    z-index: 100;
    position: fixed;
    transition: 0.4s;
    margin-top: 72px;
    width: 100%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

#slideout-menu ul {
    list-style: none;
    padding: 0 32px;
}

#slideout-menu ul li {
    padding: 8px;
}

#slideout-menu a {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: orange;
    text-decoration: none;
}

#slideout-menu input {
    width: 85%;
    padding: 8px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Searching in Jobs */

#searching {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    padding-left: 40px;
    padding-right: 150px;
}

/* Sections */

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section-heading {
    font-size: 32px;
    font-family: "Roboto Condensed", sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
}

/* Section Source */

#section-source p {
    padding: 8px;
    text-align: center;
}

#section-source a {
    margin: 8px;
    text-align: center;
}

/* Card */

.card {
    margin: 15px;
}

.card-image {
    transition: 0.4s;
}

.card-image:hover {
    box-shadow: 0 10px 6px -6px #777;
}

.card .card-description {
    padding: 10px;
    margin: 10px;
}

.card-meta-blogpost {
    color: white;
    font-size: 14px;
    padding: 16px;
    font-family: "Roboto Slab", serif;
}

.card-meta-blogpost a {
    color: white;
}

/* Button Read more */

.btn-readmore {
    padding: 8px 24px;
    border: 1px solid rgb(249, 119, 5);
    transition: 0.4s;
    display: inline-block;
    margin-bottom: 24px;
    margin-left: 24px;
    font-weight: bold;
    cursor: pointer;
    background: white;
    border-radius: 30px;
    color: rgb(249, 119, 5);
}

.btn-readmore:hover {
    background: rgb(249, 119, 5);
    text-decoration: none;
    padding: 8px 64px 8px 24px;
    color: white;
}

/* Gallerie mit fade in CSS von stackoverflow.com */

#gallerie img {
    width: auto;
    height: 250px;
}

.loginNew {
    margin: 50px;
}


/* BEWERBUNG HTML FORM  */
.contact form input,
.contact form textarea,
.contact form button {
    width: 400px;
    margin-bottom: 20px;
    padding: 5px 10px;
    background: white;
    border: 1px;
    border-radius: 5px;
    outline: none;
}
.contact form textarea {
    height: 100px;
    resize: vertical;
}
.contact form input:hover,
.contact form input:focus,
.contact form textarea:hover,
.contact form textarea:focus {
    border-color: orange;
}
.contact form button {
    width: auto;
    font-weight: bold;
    color: white;
    background: rgb(187, 241, 162);
    border-color: orange;
    cursor: pointer;
}
.contact form button:hover {
    color: orange;
    background: white;
}

/* Footer */

footer {
    background: rgb(249, 119, 5);
    padding: 8px;
    color: #eee;
    display: flex;

}

footer a {
    color: white;
}

footer #left-footer {
    flex: 1;
    border-right: 1px solid rgb(249, 119, 5);
    padding-left: 32px;
}

footer #left-footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.5;
}

footer #right-footer {
    flex: 2;
    padding: 8px;
    text-align: center;
}

footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-youtube,
footer #social-media-footer a .fa-github {
    color: white;
    transition: 0.4s;
}

footer #social-media-footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

footer #social-media-footer ul li {
    font-size: 48px;
    padding: 16px;
    transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-youtube {
    color: red;
}

footer #social-media-footer ul li:hover a .fa-facebook {
    color: #3b5998;
}

footer #social-media-footer ul li:hover a .fa-github {
    color: #bbb;
}

/* Blog List page */

.page-heading {
    font-size: 32px;
    font-family: "Roboto Condensed", sans-serif;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
    margin-top: 120px;
}

.page-heading:hover {
    padding: 4px 48px;
    background: rgb(249, 119, 5);
}

.card-meta {
    color: #333;
    font-size: 14px;
    padding-left: 8px;
    font-family: "Roboto Slab", serif;
}

.card-meta a {
    color: #333;
}

/* Pagination */

.pagination {
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

.pagination a {
    border-top: 3px solid white;
    display: inline-block;
    padding: 8px 16px;
    transition: 0.4s;
}

.pagination a:hover {
    text-decoration: none;
    border-top: 3px solid black;
}

/* Comments section */

#comments-section {
    border-top: 2px solid #eee;
    padding: 8px;
}

/* Media Queries */

@media (max-width: 1024px) {
    .slogan {
        font-size: 10px;
    }
}

@media (max-width: 900px) {
    nav ul {
        display: none;
    }

    #menu-icon {
        display: flex;
    }

    #slideout-menu {
        display: block;
    }

    #searchbox {
        display: none;
    }

    #blogpost {
        width: 100%;
        border-left: 0;
    }

    #sidebar {
        display: none;
    }
}

@media (max-width: 719px) {
    .slogan {
        font-size: 10px;
    }

    main {
        width: 95%;
    }

    section {
        flex-direction: column;
    }

    .card,
    .card .card-image img {
        width: 100%;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer #left-footer {
        flex: 1;
        border-right: 0;
        padding-left: 0;
    }

    footer #right-footer {
        background: #eee;
        color: black;
    }

    footer #right-footer a {
        color: black;
    }

    footer #social-media-footer a .fa-facebook,
    footer #social-media-footer a .fa-youtube,
    footer #social-media-footer a .fa-github {
        color: black;
        transition: 0.4s;
    }
}

@media (max-width: 600px) {
    main {
        width: 100%;
    }

    h1 {
        font-size: 48px;
    }

    #banner h3 {
        font-size: 20px;
    }

    .card {
        text-align: center;
    }

    #logo-img {
        padding: 0;
    }
}

@media (min-width: 720px) {
    main {
        width: 95%;
    }
    .card {
        width: 45%;
    }
    .card .card-image img {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    main {
        width: 85%;
    }
}
