html,
body {
    box-sizing: border-box;
    margin: 0px;
    max-width: 100%;
}

@font-face {
    font-family: Georgia, "Times New Roman", Times, serif;
    src: url();
    font-weight: normal;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}

:root {
    --primary: #47aed4;
    --skyblue: #ffffff63;
    --grey: #777777;
    --lightgrey: #b4b4b4;
    --darkgrey: #444444;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 34px;
    padding-bottom: 30px;
}

.heroimg {
    width: 423px;
    height: 530px;
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    font-family: Montserrat-Bold;
    font-size: 35px;
    text-align: right;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    color: white;
    position: absolute;
    height: auto;
    top: 100px;
    right: 33px;
}

.heroslogan {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: var(--primary);
    text-align: right;
    letter-spacing: 0px;
    opacity: 1;
    position: absolute;
    height: auto;
    top: 250px;
    right: 33px;
}

button {
    background-color: var(--primary);
    color: white;
    width: 194px;
    height: 44px;
    border-radius: 22px;
    box-shadow: 2px 2px 10px #0000003d;
    border: 2px solid #ffffff63;
    border-radius: 22px;
    position: absolute;
    top: 320px;
    right: 33px;
}

#bluerow {
    margin: 0;
    padding: 0;
    height: 6px;
    background-color: var(--primary);
}

h2 {
    font-family: Montserrat-Bold;
    font-size: 18px;
    color: var(--primary);
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin: 30px;
}

.teaserimg {
    width: 315px;
    height: 231px;
    opacity: 1;
}

.teasertext{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: var(--grey);
    text-align: left;
    letter-spacing: 0px;
    margin: 30px;
}

a{
    color:var(--primary);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: left;
    text-decoration: underline;
    letter-spacing: 0px;
    opacity: 1;
    margin: 30px;

}

.teaserone{margin:30px;

}

.teasertwo{margin:30px;
    padding-top: 10px;

}

